{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $work := promptBoolOnce . "work" "Is this a work machine" -}}

[data]
  email = {{ $email | quote }}
  work = {{ $work }}
[edit]
    command = "nvim"
