[core]
    editor = nvim
	autocrlf = false
[user]
	email = cody.bender@pdq.com
	name = Cody Bender
	signingkey = B73884A5E8984488
[push]
	default = current
[pull]
	rebase = true
[alias]
  sw = switch
  nb = switch -c
	co = checkout
  dt = difftool
	st = status
	cm = commit -m
	pom = pull origin main
	ac = "!f() { git add -A && git commit -m \"$@\";}; f"
	acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	pf = push --force-with-lease
	sps = "!f() { git stash && git pom && git stash pop; }; f"
	sws = "!f() { git stash && git sw \"$@\" && git stash pop; }; f"
	rc = "!f() { git add -A && git rebase --continue; }; f"
	fuck = "!f() { git add -A && git commit --amend --no-edit; }; f"
	clean-branches = "!f() { git branch --merged | egrep -v \"(^master|main)\" | xargs git branch -D; }; f"
	su = !git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)
[diff]
	tool = meld
[merge]
	tool = meld
 	conflictstyle = diff3
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
  defaultBranch = main
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0

[delta]
  commit-decoration-style = bold box ul
  side-by-side = true
  navigate = true    # use n and N to move between diff sections
  dark = true
  file-decoration-style = none
  file-style = omit
  hunk-header-decoration-style = "#f5e0dc" box ul # Catppuccin Mocha - Rosewater
  hunk-header-file-style = "#9399b2" # Catppuccin Mocha - Overlay2
  hunk-header-line-number-style = bold "#11111b" # Catppuccin Mocha - Crust
  hunk-header-style = file line-number syntax
  line-numbers = true
  line-numbers-left-style = "#f5e0dc" # Catppuccin Mocha - Rosewater
  line-numbers-minus-style = "#fab387" # Catppuccin Mocha - Peach
  line-numbers-plus-style = "#89b4fa" # Catppuccin Mocha - Blue
  line-numbers-right-style = "#f5e0dc" # Catppuccin Mocha - Rosewater
  line-numbers-zero-style = "#9399b2" # Catppuccin Mocha - Overlay2
  minus-emph-style = normal "#A6775A"  # Catppuccin Mocha - Peach (alpha 98 -> 65)
  minus-style = syntax "#805B45" # Catppuccin Mocha - Peach (alpha 98 -> 50)
  plus-emph-style = syntax "#5B78A6" # Catppuccin Mocha - Blue (alpha 98 -> 65)
  plus-style = syntax "#465C80" # Catppuccin Mocha - Blue (alpha 98 -> 50)
  syntax-theme = Catppuccin-mocha

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
