[core]
    editor = nvim
	autocrlf = false
[user]
	email = cody.bender@pdq.com
	name = Cody Bender
	signingkey = B73884A5E8984488
[push]
	default = current
[pull]
	rebase = true
[alias]
        sw = switch
        nb = switch -c
	co = checkout
    dt = difftool
	st = status
	cm = commit -m
	pom = pull origin main
	ac = "!f() { git add -A && git commit -m \"$@\";}; f"
	acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	pf = push --force-with-lease
	sps = "!f() { git stash && git pom && git stash pop; }; f"
	sws = "!f() { git stash && git sw \"$@\" && git stash pop; }; f"
	rc = "!f() { git add -A && git rebase --continue; }; f"
	fuck = "!f() { git add -A && git commit --amend --no-edit; }; f"
	clean-branches = "!f() { git branch --merged | egrep -v \"(^*|master|main)\" | xargs git branch -D; }; f"
[diff]
	tool = meld
[merge]
	tool = meld
 	conflictstyle = diff3
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
       defaultBranch = main
