[core]
    editor = nvim
	autocrlf = false
[user]
	email = cody.bender@pdq.com
	name = Cody Bender
	signingkey = B8C18EFD8F911405797147F4720FA88853F39859
[push]
	default = current
[pull]
	rebase = true
[alias]
	co = checkout
  dt = difftool
	st = status
	cm = commit -m
	pom = pull origin main
	ac = "!f() { git add -A && git commit -m \"$@\";}; f"
	acp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	fuck = "!f() { git add -A && git commit --amend --no-edit; }; f"
	clean-branches = "!f() { git branch --merged | grep -v \\* | xargs git branch -D; }; f"
[diff]
	tool = meld
[merge]
	tool = meld
 	conflictstyle = diff3
[commit]
	gpgsign = true
[tag]
	gpgsign = true
