{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}

if ! command -v mise 2>&1 >/dev/null
then
curl https://mise.run | sh
fi

if ! command -v gke-gcloud-auth-plugin 2>&1 >/dev/null
then
  gcloud components install kubectl gke-gcloud-auth-plugin
fi

if ! command -v nufmt 2>&1 >/dev/null
then
  cargo install --git https://github.com/nushell/nufmt
fi

if ! command -v diffnav 2>&1 >/dev/null
then
  go install github.com/dlvhdr/diffnav@latest
fi
