[tools]
# Core languages & runtimes
aube = "latest"
bun = "latest"
deno = "latest"
docker-cli = "latest"
elixir = "latest"
erlang = "latest"
ghcup = "latest"
go = "latest"
node = "latest"
rust = "latest"
uv = "latest"

# Cargo packages
"cargo:fastmod" = "latest"
"cargo:https://github.com/nushell/nufmt" = "latest"

# Linux-only packages
{{- if eq .chezmoi.os "linux" }}
"cargo:https://github.com/cfbender/venturi" = "latest"
{{- end }}

# npm packages
"npm:@biomejs/biome" = "latest"
"npm:@getgrit/cli" = "latest"
"npm:@google/gemini-cli" = "latest"
"npm:@tobilu/qmd" = "latest"
"npm:@withgraphite/graphite-cli" = "latest"
"npm:@cfbender/cesium" = "latest"
"npm:ocx" = "latest"

# github packages
"github:mamba-org/micromamba-releases" = "latest"
"github:cfbender/hygge" = "latest"

# go packages
"go:github.com/charmbracelet/crush" = "latest"

# Aqua packages
"aqua:pnpm" = "latest"

# Python packages
"pipx:github/spec-kit" = "latest"

# CLI tools
ast-grep = "latest"
gum = "latest"
hyperfine = "latest"
opencode = "latest"
pitchfork = "latest"
rtk = "latest"
task = "latest"
typos = "latest"
yq = "latest"
zellij = "latest"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["rust"]
npm.package_manager = "aube"
pipx.uvx = true
