[tools]
"amp" = "latest"
"yazi" = "latest"
aube = "latest"
uv = "latest"

{{- if .workstation }}
# Core languages & runtimes
bun = "latest"
deno = "latest"
docker-cli = "latest"
elixir = "latest"
erlang = "latest"
ghcup = "latest"
go = "latest"
node = "latest"
rust = "latest"

# Cargo packages
"cargo:fastmod" = "latest"
"cargo:https://github.com/nushell/nufmt" = "latest"

# Linux-only packages
{{- if eq .chezmoi.osRelease.id "cachyos" }}
"cargo:https://github.com/cfbender/venturi" = "latest"
{{- end }}

# npm packages
"npm:@biomejs/biome" = "latest"
"npm:@tobilu/qmd" = "latest"
"npm:@cfbender/cesium" = "latest"
"npm:@oh-my-pi/pi-coding-agent" = "latest"

# github packages
"github:mamba-org/micromamba-releases" = "latest"
{{- if .work }}
"github:dkarter/lnr" = "latest"
{{- end }}

# Python packages
"pipx:github/spec-kit" = "latest"

# CLI tools
ast-grep = "latest"
gum = "latest"
herdr = "latest"
hyperfine = "latest"
opencode = "latest"
pitchfork = "latest"
rtk = "latest"
task = "latest"
typos = "latest"
yq = "latest"
zellij = "latest"
{{- end }}

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["rust"]
npm.package_manager = "aube"
pipx.uvx = true
