layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name=" " focus=true {
        pane command="nvim" close_on_exit=false borderless=true
    }
    tab name=" " {
        pane
    }
}
